.App {
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	background: seagreen;
	font-size: 300%;
}

.app-center-container {
	position: relative;
	top: 50%;
	transform: translate(0%,-50%);
	align-content: center;
	text-align: center;
	vertical-align: middle;
}

/*
.app-card-container {
	font-size: 200%;
}

.app-deck-container {
	font-size: 200%;
}
*/
.app-horizontally-center {
	display:inline-block;
	padding: 0.5em;
}