.app {
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	background: seagreen;
}

@media (max-width: 5em) and (max-height: 7em) {
	.app {
		font-size: 50%;
	}
}

@media (min-width: 10em) and (min-height: 14em) {
	.app {
		font-size: 150%;
	}
}

@media (min-width: 15em) and (min-height: 21em) {
	.app {
		font-size: 200%;
	}
}

@media (min-width: 20em) and (min-height: 28em) {
	.app {
		font-size: 300%;
	}
}

.app-center-container {
	position: relative;
	top: 50%;
	transform: translate(0%,-50%);
	align-content: center;
	text-align: center;
	vertical-align: middle;
}

/*
.app-card-container {
	font-size: 200%;
}

.app-deck-container {
	font-size: 200%;
}
*/
.app-horizontally-center {
	display:inline-block;
	padding: 0.5em;
}